* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Shrikhand', cursive; */
}

img {
    width: 200px;
    height: auto;
}

a {
    color: black;
    text-decoration: none;
}

$primary-color : #9356DC;
$secondary-color : #FF79DA;
$tertiary-color : #99E2D0;

header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 60px;
    .header__arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 24px;
        font-size: 18px;
    }
    .header__arrow:active {
        transform: translateX(-4px);
    }
    .header__logo {
        font-family: 'Shrikhand', cursive;
        font-size: 28px;
    }
}

#menu {
    background-color: #F2F2F2;
    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}

.menu__container {
    padding: 14px;
    background-color: #F2F2F2;
    border-top-left-radius: 36px;
    border-top-right-radius: 36px;
    position: relative;
    top: -54px;
    .menu__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 0 12px 6px;
        .menu__header--title {
            font-family: 'Shrikhand', cursive;
            font-size: 27px;
        }
    }
    .menu__blocks {
        .menu__block {
            margin-top: 12px;
            margin-bottom: 36px;
            .menu__block--title {
                margin-left: 6px;
                margin-bottom: 24px;
                text-transform: uppercase;
                position: relative;
                h2{
                    font-weight: normal;
                    font-size: 16px;
                }
                h2::after {
                    content: "";
                    width: 40px;
                    height: 3px;
                    background: $tertiary-color;
                    position: absolute;
                    // z-index: 20;
                    left: 0px;
                    bottom: -8px;
                  }
            }
            .menu__item {
                display: flex;
                margin: 12px 0 12px 0;
                align-items: center;
                cursor: pointer;
                border-radius: 12px;
                box-shadow: 1px 5px 10px rgba(0,0,0,0.14);
                transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1), color 0.3s;
                
                .menu__item--description {
                    background-color: white;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 100%;
                    padding: 10px;
                    border-radius: 12px;
                    height: 40px;
                    .menu__item--name {
                        font-size: 18px;
                        font-weight: 500;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    .menu__item--sub {
                        display: flex;
                        justify-content: space-between;
                        .menu__item--detail {
                            font-size: 14px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            max-width: 250px;
                        }
                        .menu__item--price {
                            font-size: 14px;
                            font-weight: bold;
                            margin-right: 12px;
                            margin-left: 12px;
                        }
                    }
                }
                .menu__checkbox {
                    display: none;
                }
            }
            .menu__item:active {
                transform: translateY(4px);
            }
            .menu__item:hover {
                // box-shadow: 15px 25px 30px rgba(0,0,0,0.14);
                box-shadow: 0 14px 28px rgba(157, 184, 209, 0.25), 0 10px 10px rgba(0,0,0,0.22);
            }
        }
    }
    .menu__button {
        display: flex;
        justify-content: center;
        margin: 50px 0 -12px 0;
        button {
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            text-align: center;
            padding: 12px;
            width: 53%;
            max-width: 250px;
            font-size: 16px;
            // background-color: $secondary-color;
            color: white;
            border-radius: 36px;
            border: none;
            cursor: pointer;
            box-shadow: 1px 5px 10px rgba(0,0,0,0.14);
            transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1), color 0.3s;
            background-image: linear-gradient($secondary-color, $primary-color);
        }
        button:hover {
            // box-shadow: 15px 25px 30px 30px rgba(0,0,0,0.14);
            // box-shadow: 0 14px 28px rgba(157, 184, 209, 0.25), 0 10px 10px rgba(0,0,0,0.22);
            box-shadow: 0px 2px 4px 5px rgba(0, 0, 0, 0.14);
            background-image: linear-gradient(#f789d7, #af77f3);
        }
        button:active {
            transform: translateY(4px);
        }
    }
}


// .footer__container {
//     padding: 20px;
//     background-color: #333333;
//     color: white;
//     .footer__logo a {
//         color: white;
//         font-family: 'Shrikhand', cursive;
//     }
//     .footer__items {
//         margin: 20px 0 12px 0;
//         .footer__item {
//             display: flex;
//             margin-bottom: 4px;
//             a {
//                 color: white;
//             }
//             .footer__item-icon {
//                 width: 20px;
//                 height: 20px;
//                 margin-right: 10px;
//             }
//         }
//     }
// }

.footer__container {
    padding: 25px;
    background-color: #333333;
    color: white;
    .footer__logo a {
        color: white;
        font-family: 'Shrikhand', cursive;
        font-size: 18px;
    }
    .footer__items {
        margin: 20px 0 12px 0;
        .footer__item {
            display: flex;
            margin-bottom: 4px;
            a {
                color: white;
            }
            .footer__item-icon {
                display: flex;
                justify-content: left;
                align-items: center;
                width: 22px;
                height: 22px;
                font-size: 13px;
            }
            .footer__item-text {
                display: flex;
                align-items: center;
            }
        }
    }
}

@media screen and (min-width: 600px) {
    header, main {
        max-width: 1480px;
        margin: 0 auto;
    }
    img {
        max-height: 300px;
        object-fit: cover;
    }
    .menu__container {
        max-width: 600px;
        margin: 0 auto;
        // .menu__header {

        // }
        // .menu__blocks {
        //     // display: flex;
        //     // justify-content: space-between;
        //     .menu__block {

        //     }
        // }
        // .menu__button {
            
        // }
    }

    footer {
        background-color: #333333;
    }

    .footer__container {
        // display: flex;
        // justify-content: center;
        // align-items: center;
        max-width: 1480px;
        margin: 0 auto;
        .footer__logo {
            display: flex;
            justify-content: center;
            // margin: 0 50px 0 20px;
        }
        .footer__items {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            .footer__item {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                // margin: 12px;
                margin: 0;
                .footer__item-icon {
                    margin: 5px;
                    font-size: 15px;
                }
            }
        }
    }
}

// @media screen and (min-width: 1100px) {
//     .menu__container {
//         max-width: 1200px;
//         margin: 0 50px;
//         .menu__header {
//             justify-content: space-between;
//         }
//         .menu__blocks {
//             display: flex;
//             justify-content: space-between;
//             .menu__block {
//                 width: 30%;
//                 .menu__item {
//                     width: 100%;
//                 }
//             }
//         }
//         .menu__button {
            
//         }
//     }
// }