* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Shrikhand', cursive; */
}

img {
  width: 200px;
  height: auto;
}

a {
  color: black;
  text-decoration: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: 60px;
}

header .header__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 24px;
  font-size: 18px;
}

header .header__arrow:active {
  -webkit-transform: translateX(-4px);
          transform: translateX(-4px);
}

header .header__logo {
  font-family: 'Shrikhand', cursive;
  font-size: 28px;
}

#menu {
  background-color: #F2F2F2;
}

#menu img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu__container {
  padding: 14px;
  background-color: #F2F2F2;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  position: relative;
  top: -54px;
}

.menu__container .menu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 0 12px 6px;
}

.menu__container .menu__header .menu__header--title {
  font-family: 'Shrikhand', cursive;
  font-size: 27px;
}

.menu__container .menu__blocks .menu__block {
  margin-top: 12px;
  margin-bottom: 36px;
}

.menu__container .menu__blocks .menu__block .menu__block--title {
  margin-left: 6px;
  margin-bottom: 24px;
  text-transform: uppercase;
  position: relative;
}

.menu__container .menu__blocks .menu__block .menu__block--title h2 {
  font-weight: normal;
  font-size: 16px;
}

.menu__container .menu__blocks .menu__block .menu__block--title h2::after {
  content: "";
  width: 40px;
  height: 3px;
  background: #99E2D0;
  position: absolute;
  left: 0px;
  bottom: -8px;
}

.menu__container .menu__blocks .menu__block .menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 12px 0 12px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border-radius: 12px;
  -webkit-box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.14);
          box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.14);
  -webkit-transition: color 0.3s, -webkit-box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: color 0.3s, -webkit-box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), color 0.3s;
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), color 0.3s, -webkit-box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  position: relative;
  overflow: hidden;
}

.menu__container .menu__blocks .menu__block .menu__item .menu__item--description {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 10px;
  border-radius: 12px;
  height: 40px;
}

.menu__container .menu__blocks .menu__block .menu__item .menu__item--description .menu__item--name {
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu__container .menu__blocks .menu__block .menu__item .menu__item--description .menu__item--sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__container .menu__blocks .menu__block .menu__item .menu__item--description .menu__item--sub .menu__item--detail {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
}

.menu__container .menu__blocks .menu__block .menu__item .menu__item--description .menu__item--sub .menu__item--price {
  font-size: 14px;
  font-weight: bold;
  margin-right: 12px;
  margin-left: 12px;
}

.menu__container .menu__blocks .menu__block .menu__item .menu__checkbox {
  display: none;
  position: absolute;
  background: #99E2D0;
  border-radius: 0;
  height: 100%;
  padding: 0 15px;
  right: 0;
}

.menu__container .menu__blocks .menu__block .menu__item .menu__checkbox i {
  color: white;
  font-size: 20px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-animation: rotate 0.5s both;
          animation: rotate 0.5s both;
}

.menu__container .menu__blocks .menu__block .menu__item:active {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.menu__container .menu__blocks .menu__block .menu__item:hover {
  -webkit-box-shadow: 0 14px 28px rgba(157, 184, 209, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(157, 184, 209, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.menu__container .menu__blocks .menu__block .menu__item:hover .menu__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-animation: right-to-left 0.5s ease-in;
          animation: right-to-left 0.5s ease-in;
}

.menu__container .menu__blocks .menu__block .menu__item:hover .menu__item--price {
  padding-right: 50px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes right-to-left {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(-50px);
            transform: scaleX(-50px);
  }
}

@keyframes right-to-left {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(-50px);
            transform: scaleX(-50px);
  }
}

.menu__container .menu__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px 0 -12px 0;
}

.menu__container .menu__button button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  padding: 12px;
  width: 53%;
  max-width: 250px;
  font-size: 16px;
  color: white;
  border-radius: 36px;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.14);
          box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.14);
  -webkit-transition: color 0.3s, -webkit-box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: color 0.3s, -webkit-box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), color 0.3s;
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), color 0.3s, -webkit-box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(#FF79DA, #9356DC);
}

.menu__container .menu__button button:hover {
  -webkit-box-shadow: 0px 2px 4px 5px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 2px 4px 5px rgba(0, 0, 0, 0.14);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f789d7), to(#af77f3));
  background-image: linear-gradient(#f789d7, #af77f3);
}

.menu__container .menu__button button:active {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.footer__container {
  padding: 25px;
  background-color: #333333;
  color: white;
}

.footer__container .footer__logo a {
  color: white;
  font-family: 'Shrikhand', cursive;
  font-size: 18px;
}

.footer__container .footer__items {
  margin: 20px 0 12px 0;
}

.footer__container .footer__items .footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4px;
}

.footer__container .footer__items .footer__item a {
  color: white;
}

.footer__container .footer__items .footer__item .footer__item-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 22px;
  height: 22px;
  font-size: 13px;
}

.footer__container .footer__items .footer__item .footer__item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 600px) {
  header, main {
    max-width: 1480px;
    margin: 0 auto;
  }
  img {
    max-height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .menu__container {
    max-width: 600px;
    margin: 0 auto;
  }
  footer {
    background-color: #333333;
  }
  .footer__container {
    max-width: 1480px;
    margin: 0 auto;
  }
  .footer__container .footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__container .footer__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .footer__container .footer__items .footer__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin: 0;
  }
  .footer__container .footer__items .footer__item .footer__item-icon {
    margin: 5px;
    font-size: 15px;
  }
}
/*# sourceMappingURL=menu.css.map */